* {
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans";
	background-color: #e2e2eb;
	font-size: 100%;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	height: 100vh;
	padding: 0px 16px 0px 16px;
}

header {
	grid-area: header;
	align-self: center;
	-webkit-grid-area: header;
	-webkit-align-self: center;
}

.content {
	grid-area: content;
}

.info {
	grid-area: info;
	align-self: center;
	text-align: center;
}

.moment {
	grid-area: moment;
}

footer {
	grid-area: footer;
	align-self: center;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr 8fr 1fr;
	grid-template-areas:
	"header"
	"content"
	"footer";
}


.content {
	display: grid;
	grid-template-rows: 4fr 2fr;
	grid-gap: 20px;
	grid-template-areas:
		"moment"
		"info";
}

header {
	display: flex;
	justify-content: space-between;
}

header {
	border-bottom: 1px solid #555;
	padding-bottom: 10px;
}

footer {
	border-top: 1px solid #555;
	padding-top: 10px;
}

footer {
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

a {
	color: #5d97f3;
	text-decoration: none;
	font-size: 1.5em;
	display: inline-block;
}

header a, footer a {
	padding-right: 20px;
}

header  a:last-of-type, footer a:last-of-type {
	padding-right: 0px;
}

a:hover, a:visited{
	color: #d75f2b;
}

a.websitename, a.websitename:hover{
	color: #adc66d;
	text-transform: uppercase;
}

p {
	padding-bottom: 20px;
}

@media(min-width: 700px){
	.content {
		//grid-template-columns: 1fr 1fr;
	//	grid-template-areas:
	//		"info moment";
		}
	}


