body {
	text-align: center;
	background-color: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
	font-size: 72px;
	transform: translateY(50%);
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}
